services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v25.3.5
    container_name: redpanda
    command:
      - redpanda start
      - --smp 1 
      - --memory 512M
      - --reserve-memory 0M
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
    ports:
      - 19092:19092
      - 9644:9644
    volumes:
      - redpanda-data:/var/lib/redpanda/data
    healthcheck:
      test: ["CMD", "rpk", "cluster", "info"]
      interval: 10s
      timeout: 5s
      retries: 10

  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    environment:
      - POSTGRES_USER=${DB_USER}          
      - POSTGRES_PASSWORD=${DB_PASSWORD}  # <--- Магія тут
      - POSTGRES_DB=${DB_NAME}          # <--- І тут
    ports:
      - 5432:5432
    volumes:
     # 1. This keeps your data safe if container restarts
      - timescale-data:/var/lib/postgresql/data
      # Maps your local file to the container's startup folder
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  ingestor:
    build: ./services/ingestor
    depends_on:
      redpanda:
        condition: service_healthy
    environment:
      - KAFKA_BROKER=redpanda:9092

  processor:
    build: ./services/processor
    depends_on:
      redpanda:
        condition: service_healthy
      timescaledb:
        condition: service_healthy
    environment:
      - KAFKA_BROKER=redpanda:9092
      - DB_HOST=timescaledb
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    volumes:
      - ./services/processor:/app

# Legacy dashboard service (commented out)
#
#  dashboard:
#    build: ./dashboard
#    ports:
#      - "8501:8501"
#    depends_on:
#      timescaledb:
#        condition: service_healthy
#    environment:
#      - DB_HOST=timescaledb

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_PASSWORD} # <--- І тут  # Пароль для входу
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      timescaledb:
        condition: service_healthy

volumes:
  redpanda-data:
  timescale-data:
  grafana-data: