name: QuantStream CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-smoke-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: |
          docker compose build

      - name: Start services
        run: |
          docker compose up -d
          sleep 20

      - name: Check running containers
        run: |
          docker ps
          docker compose ps

      - name: Basic health check
        run: |
          docker inspect --format='{{.State.Running}}' quantstream-ingestor
          docker inspect --format='{{.State.Running}}' quantstream-processor